[submodule "geoserver"]
	path = geoserver
	url = git@github.com:geoserver/geoserver.git
	branch = 2.16.x
[submodule "docs/geocat"]
	path = docs/themes/geocat
	url = http://eos.geocat.net/gitlab/geocat/geocat_sphinx_template.git
