.gs-panel-GridSubsetsEditor .minmax {
    display: flex;
    gap: 10px;
    align-items: center;
}

.gs-panel-GridSubsetsEditor .minmax select {
    max-width: 100px;
    min-width: 70px;
}


.gs-panel-GridSubsetsEditor td {
    vertical-align: middle;
}