# data downloads
download
target

# Default data directory
default/data
default/demo
default/gwc/tmp
default/legendsamples/
default/logs
default/security
default/styles
default/temp
default/tmp
default/workspaces

# Standard data directory
standard/data/ne
standard/data/eaa
standard/gwc/tmp
standard/legendsamples/
standard/logs
standard/security
standard/styles
standard/temp
standard/tmp