# data downloads
download

# Default data directory
default/data
default/demo
default/logs
default/security
default/styles
default/workspaces

# Standard data directory
standard/data/ne
standard/logs
standard/security
standard/styles