
/* ----- sidebar */
#sidebar img {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}
/* about & status */

/* server status */
img[src*="/img/icons/silk/server_error"] {
  content: url(../enterprise/icon/ic_info_outline_24px.svg);
}
/* logs */
img[src*="/img/icons/silk/page_white"] {
  content: url(../enterprise/icon/ic_description_24px.svg);
}
/* contact */
img[src*="/img/icons/silk/vcard"] {
  content: url(../enterprise/icon/ic_contacts_24px.svg);
}
/* about */
img[src*="/img/icons/silk/help"] {
  content: url(../enterprise/icon/ic_help_outline_24px.svg);
}
/* process status */
img[src*="/img/icons/silk/cog"] {
  content: url(../enterprise/icon/ic_settings_24px.svg);
}
/* data */

/* layer preview */
img[src*="/img/icons/geosilk/map"] {
  content: url(../enterprise/icon/ic_map_24px.svg);
}
/* workspace */
img[src*="/img/icons/silk/folder"] {
  content: url(../enterprise/icon/ic_folder_open_24px.svg);
}
/* stores */
img[src*="/img/icons/silk/database"] {
  content: url(../enterprise/icon/ic_storage_24px.svg);
}
/* layers */
img[src*="/img/icons/silk/picture_empty"] {
  content: url(../enterprise/icon/ic_crop_din_24px.svg);
}
/* layer groups */
img[src*="/img/icons/silk/layers"] {
  content: url(../enterprise/icon/ic_layers_24px.svg);
}
/* styles */
img[src*="/palette"] {
  content: url(../enterprise/icon/ic_palette_24px.svg);
}

/* services */

/* wmts */
img[src*="/server_tile_map"] {
  content: url(../enterprise/icon/ic_grid_on_24px.svg);
}
/* wcs */
img[src*="/server_raster"] {
  content: url(../enterprise/icon/ic_flip_to_front_24px.svg);
}
/* wfs */
img[src*="/server_vector"] {
  content: url(../enterprise/icon/ic_streetview_24px.svg);
}
/* wms */
img[src*="/server_map"] {
  content: url(../enterprise/icon/ic_satellite_24px.svg);
}
/* wps */
img[src*="/server_gear"] {
  content: url(../enterprise/icon/ic_perm_data_setting_24px.svg);
}

/* settings */

/* global */
img[src*="/img/icons/silk/server"] {
  content: url(../enterprise/icon/ic_storage_24px.svg);
}
/* image */
img[src*="/img/icons/silk/cog_photo"] {
  content: url(../enterprise/icon/ic_photo_library_24px.svg);
}
/* raster */
img[src*="/img/icons/silk/cog_photo"] {
  content: url(../enterprise/icon/ic_photo_library_24px.svg);
}

/* tile */

/* layers */
img[src*="/tilelayer"] {
  content: url(../enterprise/icon/ic_view_module_24px.svg);
}
/* caching */
img[src*="/geowebcache"] {
  content: url(../enterprise/icon/ic_language_24px.svg);
}
/* grid */
img[src*="/gridset"] {
  content: url(../enterprise/icon/ic_view_comfy_24px.svg);
}
/* quota */
img[src*="/diskquota"] {
  content: url(../enterprise/icon/ic_save_24px.svg);
}
/* blob */
img[src*="/blobstores"] {
  content: url(../enterprise/icon/ic_dns_24px.svg);
}

/* security */

/* settings */
img[src*="/img/icons/silk/wrench"] {
  content: url(../enterprise/icon/ic_build_24px.svg);
}
/* authentication */
img[src*="/img/icons/silk/shield"] {
  content: url(../enterprise/icon/ic_security_24px.svg);
}
/* passwords */
img[src*="/img/icons/silk/lock"] {
  content: url(../enterprise/icon/ic_lock_outline_24px.svg);
}
/* users... */
img[src*="/img/icons/silk/group"] {
  content: url(../enterprise/icon/ic_people_outline_24px.svg);
}
/* data */
img[src*="/img/icons/silk/database_key"] {
  content: url(../enterprise/icon/ic_assessment_24px.svg);
}
/* services */
img[src*="/img/icons/silk/shape_square_key"] {
  content: url(../enterprise/icon/ic_settings_applications_24px.svg);
}
/* wps */
img[src*="/server_key"] {
  content: url(../enterprise/icon/ic_network_locked_24px.svg);
}

/* geo silk replacement */
form ul li div {
  padding: 3px 0;
}
form ul li div img {
  width: 18px;
  float: left;
}
form ul li div img + a {
  margin-left: 5px;
}

/* vector */

img[src*="/img/icons/geosilk/vector"] {
  content: url(../enterprise/icon/ic_streetview_24px.svg);
  width: 20px;
}
/* add */
img[src*="/img/icons/geosilk/vector_add"] {
  content: url(../enterprise/icon/ic_streetview_24px.svg);
  width: 20px;
}
/* delete */
img[src*="/img/icons/geosilk/vector_delete"] {
  content: url(../enterprise/icon/ic_streetview_24px.svg);
  width: 20px;
}

/* vector source */
img[src*="/img/icons/geosilk/page_white_vector"] {
  content: url(../enterprise/icon/ic_streetview_24px.svg);
  width: 20px;
}
/* vector source */
img[src*="/img/icons/geosilk/page_white_raster"] {
  content: url(../enterprise/icon/ic_grid_on_24px.svg);
  width: 20px;
}
/* image */
img[src*="/img/icons/geosilk/page_white_picture"] {
  content: url(../enterprise/icon/ic_satellite_24px.svg);
  width: 20px;
}
/* palette */
img[src*="/img/icons/geosilk/page_white_palette"] {
  content: url(../enterprise/icon/ic_color_lens_24px.svg);
  width: 20px;
}
/* map */
img[src*="/img/icons/geosilk/page_white_rmap"] {
  content: url(../enterprise/icon/ic_map_24px.svg);
  width: 20px;
}

/* database */

/* vector database */
img[src*="/img/icons/geosilk/database_vector"] {
  content: url(../enterprise/icon/ic_storage_24px.svg);
  width: 20px;
}

/* raster */

img[src*="/img/icons/geosilk/raster"] {
  content: url(../enterprise/icon/ic_grid_on_24px.svg);
  width: 20px;
}
/* add */
img[src*="/img/icons/geosilk/raster_add"] {
  content: url(../enterprise/icon/ic_grid_on_24px.svg);
  width: 20px;
}
/* delete */
img[src*="/img/icons/geosilk/raster_delete"] {
  content: url(../enterprise/icon/ic_grid_on_24px.svg);
  width: 20px;
}